* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.body > div {
    margin: auto;
}

.about-selection{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    /* margin-left: 10px;
    margin-right: 10px; */
    display: inline-block;
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: none;
    outline: none;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .2s ease;

}
.btn:hover{
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 15px ;
}

.btn--success{
    background-color: #71be34;
}

.btn--warn{
    background-color: #ffb702;
    
}

.btn--danger{
    background-color: #ff623d;
}

.btn--disable{
    opacity: 0.5 !important ;
    cursor: default;
}

#toast-popup{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.fa-xmark{
    color: #ccc;
}
/* success */
.toast--success{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid #71be34;
    padding: 20px 0;
    border-top: 10px;
    box-shadow: 10px 12px 8px rgba(0, 0, 0, 0.08);
    margin: 15px 20px;
    animation: slideInLeft ease .7s , fadeOut linear 1s 3s forwards;
    transition: all linear .3s ;
    /* float: right; */

}


.fa-solid{
    font-size: 28px;
}

.toast-body{
     padding-right: 100px;

}
.toast-title{
    color: rgba(10, 10, 10, 0.8);
}
.toast-msg{
    color: rgba(136, 136, 136, 0.7);
}

.fa-circle-check{
    color: #71be34;
}

.fa-circle-info{
    color: #3086eb;
}

.fa-circle-exclamation{
    color: #ffb702;
}

/* info */
.toast--info{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    border-left: 4px solid #3086eb;
    padding: 20px 0;
    margin: 15px 20px;
    box-shadow: 10px 12px 8px rgba(0, 0, 0, 0.08);
    animation: slideInLeft ease .7s , fadeOut linear 1s 3s forwards;
} 
/* warning */
.toast--warning{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    border-left: 4px solid #ffb702;
    padding: 20px 0;
    margin: 15px 20px;
    box-shadow: 10px 12px 8px rgba(0, 0, 0, 0.08);
    animation: slideInLeft ease .7s , fadeOut linear 1s 3s forwards;
} 
.toast-icon{
    font-size: 24px;
}
.toast_close{
    font-size: 24px;
}

.toast-icon,
.toast_close{
    padding:  0 16px;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(130%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}
